<a href="https://colab.research.google.com/github/gabrielgudino/ejercicios_sql/blob/main/Bootcamp_DE2_ejercicios_intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<img src="https://i.ibb.co/PQjhtPK/Logo-Datos-Vivos.png" width="400px"> 

# Bootcamp Data Engineer



Seguinos en las redes para mas contenido:
 [Instagram](https://www.instagram.com/escueladedatosvivos/) | [Linkedin](https://www.linkedin.com/company/escuela-de-datos-vivos/) | [Twitter](https://twitter.com/datos_vivos) 

Canal de [YouTube](https://www.youtube.com/c/Escueladedatosvivosai).

<br>



---

# Ejercicios introductorios a Python

## 1) Importar datos y analisis inicial

1.a) Importar datos y verificar datatypes

https://raw.githubusercontent.com/pablo14/datasets/main/star_wars/starwars.csv

1.b) Con iloc, mostrar toda la columna name

1.c) Con iloc, mostrar todo el registro 3

1.d) Mostrar los nombres de columnas del dataframe

1.e) Mostrar el shape del dataframe

1.f) Mostrar los primeros 10 registros

1.g) Mostrar los ultimos 5 registros

## 2) Preparacion de datos

2.a) Obtener nulos de la columna species (tip: seleccionar primero los nulos de la columna, por ejemplo 'dataframe['columna'].isna()' y usarlos luego para filtrar los nulos)

2.b) Reemplazar nulos en la columna 'species' por el string 'Unknown'

2.c) Reemplazar nulos de la columna 'mass' por la mediana de la columna

2.d) Eliminar las columnas 'sex' y 'skin_color'

2.f) Ordenar el dataframe ascendentemente por la columna mass

2.g) Crear una nueva columna llamada mass_lb

2.h) Renombrar la columna 'mass' a 'mass_kg'

2.i) Reordenar las columnas del dataframe, ubicando 'mass_lb' a la derecha de 'mass_kg'

2.j) Eliminar del dataset, los registros en donde mass_kg sea menor a 20

## 3) Exportar dataframe

Exportar a CSV, usando como separador el caracter |

## 4) Ejercicio integrador

Para completar este ejercicio, debes usar el dataframe d_star_wars con todas las modificaciones realizadas en los puntos anteriores

4.a) Reemplazar los nulos de la columna 'birth_year' por el promedio

4.b) Eliminar los decimales de la columna 'birth_year' (investigar round() )

4.c) Cambiar el tipo de datos de la columna 'birth_year' de float a integer

4.d) Cambiar el tipo de datos de la columna 'birth_year' de integer a string

4.e) Crear una funcion llamada for_sample.
      La misma debe, mediante un for, hacer prints en pantalla con el siguiente formato:
  `R2-D2 nacido/a en el año 33 en el planeta Naboo`
R2-D2(name), 33(birth_year), Naboo(homeworld)

      Parametros: 
      *   df: dataframe 
      *   iteraciones: cantidad de registros a mostrar en el print (elegir un numero aleatorio)