<a href="https://colab.research.google.com/github/gabrielgudino/ejercicios_sql/blob/main/Bootcamp_DE2_ejercicios_intro_python_gabriel_gudino_jose_reyes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<img src="https://i.ibb.co/PQjhtPK/Logo-Datos-Vivos.png" width="400px"> 

# Bootcamp Data Engineer



Seguinos en las redes para mas contenido:
 [Instagram](https://www.instagram.com/escueladedatosvivos/) | [Linkedin](https://www.linkedin.com/company/escuela-de-datos-vivos/) | [Twitter](https://twitter.com/datos_vivos) 

Canal de [YouTube](https://www.youtube.com/c/Escueladedatosvivosai).

<br>



---

# Ejercicios introductorios a Python

## 1) Importar datos y analisis inicial

1.a) Importar datos y verificar datatypes

https://raw.githubusercontent.com/pablo14/datasets/main/star_wars/starwars.csv

In [1]:
import pandas as pd

starwars = pd.read_csv("https://raw.githubusercontent.com/pablo14/datasets/main/star_wars/starwars.csv", sep = ",")
print(starwars.dtypes)
# print(starwars.head)

name           object
height        float64
mass          float64
hair_color     object
skin_color     object
eye_color      object
birth_year    float64
sex            object
gender         object
homeworld      object
species        object
dtype: object

1.b) Con iloc, mostrar toda la columna name

In [2]:
starwars.iloc[:,0]

0     Luke Skywalker
1              C-3PO
2              R2-D2
3        Darth Vader
4        Leia Organa
           ...
82               Rey
83       Poe Dameron
84               BB8
85    Captain Phasma
86     Padmé Amidala
Name: name, Length: 87, dtype: object

1.c) Con iloc, mostrar todo el registro 3

In [3]:
starwars.iloc[3,:]

name          Darth Vader
height              202.0
mass                136.0
hair_color           none
skin_color          white
eye_color          yellow
birth_year           41.9
sex                  male
gender          masculine
homeworld        Tatooine
species             Human
Name: 3, dtype: object

1.d) Mostrar los nombres de columnas del dataframe

In [4]:
starwars.columns

Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'sex', 'gender', 'homeworld', 'species'],
      dtype='object')

1.e) Mostrar el shape del dataframe

In [5]:
starwars.shape

(87, 11)

1.f) Mostrar los primeros 10 registros

In [6]:
starwars.head(10)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
5,Owen Lars,178.0,120.0,"brown, grey",light,blue,52.0,male,masculine,Tatooine,Human
6,Beru Whitesun lars,165.0,75.0,brown,light,blue,47.0,female,feminine,Tatooine,Human
7,R5-D4,97.0,32.0,NaN,"white, red",red,NaN,none,masculine,Tatooine,Droid
8,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human

1.g) Mostrar los ultimos 5 registros

In [7]:
starwars.tail()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human

## 2) Preparacion de datos

2.a) Obtener nulos de la columna species (tip: seleccionar primero los nulos de la columna, por ejemplo 'dataframe['columna'].isna()' y usarlos luego para filtrar los nulos)

In [8]:
nulos_species = starwars["species"][starwars["species"].isna() == True]
print(nulos_species)

36    NaN
39    NaN
79    NaN
85    NaN
Name: species, dtype: object

2.b) Reemplazar nulos en la columna 'species' por el string 'Unknown'

In [9]:
# starwars["species"][starwars["species"].isna()] = "Unknown"
starwars["species"] = starwars["species"].fillna(value="Unknown")

2.c) Reemplazar nulos de la columna 'mass' por la mediana de la columna

In [10]:
# starwars["mass"][starwars["mass"].isna()] = starwars["mass"].mean()
starwars["mass"] = starwars["mass"].fillna(value= starwars["mass"].median())

2.d) Eliminar las columnas 'sex' y 'skin_color'

In [11]:
starwars = starwars.drop(columns = ["sex", "skin_color"])

2.f) Ordenar el dataframe ascendentemente por la columna mass

In [19]:
starwars = starwars.sort_values("mass", ignore_index= True)

,name,height,mass,hair_color,eye_color,birth_year,gender,homeworld,species
0,Ratts Tyerell,79.0,15.0,none,unknown,NaN,masculine,Aleen Minor,Aleena
1,Yoda,66.0,17.0,white,brown,896.0,masculine,NaN,Yoda's species
2,Wicket Systri Warrick,88.0,20.0,brown,brown,8.0,masculine,Endor,Ewok
3,R2-D2,96.0,32.0,NaN,red,33.0,masculine,Naboo,Droid
4,R5-D4,97.0,32.0,NaN,red,NaN,masculine,Tatooine,Droid
...,...,...,...,...,...,...,...,...,...
82,Tarfful,234.0,136.0,brown,blue,NaN,masculine,Kashyyyk,Wookiee
83,Darth Vader,202.0,136.0,none,yellow,41.9,masculine,Tatooine,Human
84,IG-88,200.0,140.0,none,red,15.0,masculine,NaN,Droid
85,Grievous,216.0,159.0,none,"green, yellow",NaN,masculine,Kalee,Kaleesh
86,Jabba Desilijic Tiure,175.0,1358.0,NaN,orange,600.0,masculine,Nal Hutta,Hutt

2.g) Crear una nueva columna llamada mass_lb

In [20]:
starwars["mass_lb"] = starwars["mass"] * 2.2

,name,height,mass,hair_color,eye_color,birth_year,gender,homeworld,species,mass_lb
0,Ratts Tyerell,79.0,15.0,none,unknown,NaN,masculine,Aleen Minor,Aleena,33.0
1,Yoda,66.0,17.0,white,brown,896.0,masculine,NaN,Yoda's species,37.4
2,Wicket Systri Warrick,88.0,20.0,brown,brown,8.0,masculine,Endor,Ewok,44.0
3,R2-D2,96.0,32.0,NaN,red,33.0,masculine,Naboo,Droid,70.4
4,R5-D4,97.0,32.0,NaN,red,NaN,masculine,Tatooine,Droid,70.4
...,...,...,...,...,...,...,...,...,...,...
82,Tarfful,234.0,136.0,brown,blue,NaN,masculine,Kashyyyk,Wookiee,299.2
83,Darth Vader,202.0,136.0,none,yellow,41.9,masculine,Tatooine,Human,299.2
84,IG-88,200.0,140.0,none,red,15.0,masculine,NaN,Droid,308.0
85,Grievous,216.0,159.0,none,"green, yellow",NaN,masculine,Kalee,Kaleesh,349.8
86,Jabba Desilijic Tiure,175.0,1358.0,NaN,orange,600.0,masculine,Nal Hutta,Hutt,2987.6

2.h) Renombrar la columna 'mass' a 'mass_kg'

In [23]:
starwars = starwars.rename(columns = {"mass":"mass_kg"})

,name,height,mass_kg,hair_color,eye_color,birth_year,gender,homeworld,species,mass_lb
0,Ratts Tyerell,79.0,15.0,none,unknown,NaN,masculine,Aleen Minor,Aleena,33.0
1,Yoda,66.0,17.0,white,brown,896.0,masculine,NaN,Yoda's species,37.4
2,Wicket Systri Warrick,88.0,20.0,brown,brown,8.0,masculine,Endor,Ewok,44.0
3,R2-D2,96.0,32.0,NaN,red,33.0,masculine,Naboo,Droid,70.4
4,R5-D4,97.0,32.0,NaN,red,NaN,masculine,Tatooine,Droid,70.4
...,...,...,...,...,...,...,...,...,...,...
82,Tarfful,234.0,136.0,brown,blue,NaN,masculine,Kashyyyk,Wookiee,299.2
83,Darth Vader,202.0,136.0,none,yellow,41.9,masculine,Tatooine,Human,299.2
84,IG-88,200.0,140.0,none,red,15.0,masculine,NaN,Droid,308.0
85,Grievous,216.0,159.0,none,"green, yellow",NaN,masculine,Kalee,Kaleesh,349.8
86,Jabba Desilijic Tiure,175.0,1358.0,NaN,orange,600.0,masculine,Nal Hutta,Hutt,2987.6

2.i) Reordenar las columnas del dataframe, ubicando 'mass_lb' a la derecha de 'mass_kg'

In [26]:
starwars = starwars[["name", "height", "mass_kg", "mass_lb", "hair_color", "eye_color", "birth_year", "gender", "homeworld", "species"]]

,name,height,mass_kg,mass_lb,hair_color,eye_color,birth_year,gender,homeworld,species
0,Ratts Tyerell,79.0,15.0,33.0,none,unknown,NaN,masculine,Aleen Minor,Aleena
1,Yoda,66.0,17.0,37.4,white,brown,896.0,masculine,NaN,Yoda's species
2,Wicket Systri Warrick,88.0,20.0,44.0,brown,brown,8.0,masculine,Endor,Ewok
3,R2-D2,96.0,32.0,70.4,NaN,red,33.0,masculine,Naboo,Droid
4,R5-D4,97.0,32.0,70.4,NaN,red,NaN,masculine,Tatooine,Droid
...,...,...,...,...,...,...,...,...,...,...
82,Tarfful,234.0,136.0,299.2,brown,blue,NaN,masculine,Kashyyyk,Wookiee
83,Darth Vader,202.0,136.0,299.2,none,yellow,41.9,masculine,Tatooine,Human
84,IG-88,200.0,140.0,308.0,none,red,15.0,masculine,NaN,Droid
85,Grievous,216.0,159.0,349.8,none,"green, yellow",NaN,masculine,Kalee,Kaleesh
86,Jabba Desilijic Tiure,175.0,1358.0,2987.6,NaN,orange,600.0,masculine,Nal Hutta,Hutt

2.j) Eliminar del dataset, los registros en donde mass_kg sea menor a 20

In [30]:
starwars = starwars[starwars["mass_kg"] >= 20]

,name,height,mass_kg,mass_lb,hair_color,eye_color,birth_year,gender,homeworld,species
2,Wicket Systri Warrick,88.0,20.0,44.0,brown,brown,8.0,masculine,Endor,Ewok
3,R2-D2,96.0,32.0,70.4,NaN,red,33.0,masculine,Naboo,Droid
4,R5-D4,97.0,32.0,70.4,NaN,red,NaN,masculine,Tatooine,Droid
5,Sebulba,112.0,40.0,88.0,none,orange,NaN,masculine,Malastare,Dug
6,Padmé Amidala,165.0,45.0,99.0,brown,brown,46.0,feminine,Naboo,Human
...,...,...,...,...,...,...,...,...,...,...
82,Tarfful,234.0,136.0,299.2,brown,blue,NaN,masculine,Kashyyyk,Wookiee
83,Darth Vader,202.0,136.0,299.2,none,yellow,41.9,masculine,Tatooine,Human
84,IG-88,200.0,140.0,308.0,none,red,15.0,masculine,NaN,Droid
85,Grievous,216.0,159.0,349.8,none,"green, yellow",NaN,masculine,Kalee,Kaleesh
86,Jabba Desilijic Tiure,175.0,1358.0,2987.6,NaN,orange,600.0,masculine,Nal Hutta,Hutt

## 3) Exportar dataframe

Exportar a CSV, usando como separador el caracter |

In [31]:
starwars.to_csv("d_star_wars.csv", sep = "|" )

## 4) Ejercicio integrador

Para completar este ejercicio, debes usar el dataframe d_star_wars con todas las modificaciones realizadas en los puntos anteriores

4.a) Reemplazar los nulos de la columna 'birth_year' por el promedio

In [33]:
d_star_wars = starwars
d_star_wars["birth_year"] = d_star_wars["birth_year"].fillna(value= starwars["birth_year"].mean())
d_star_wars

<ipython-input-33-2bfae5cf8275>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_star_wars["birth_year"] = d_star_wars["birth_year"].fillna(value= starwars["birth_year"].mean())

,name,height,mass_kg,mass_lb,hair_color,eye_color,birth_year,gender,homeworld,species
2,Wicket Systri Warrick,88.0,20.0,44.0,brown,brown,8.000000,masculine,Endor,Ewok
3,R2-D2,96.0,32.0,70.4,NaN,red,33.000000,masculine,Naboo,Droid
4,R5-D4,97.0,32.0,70.4,NaN,red,68.316667,masculine,Tatooine,Droid
5,Sebulba,112.0,40.0,88.0,none,orange,68.316667,masculine,Malastare,Dug
6,Padmé Amidala,165.0,45.0,99.0,brown,brown,46.000000,feminine,Naboo,Human
...,...,...,...,...,...,...,...,...,...,...
82,Tarfful,234.0,136.0,299.2,brown,blue,68.316667,masculine,Kashyyyk,Wookiee
83,Darth Vader,202.0,136.0,299.2,none,yellow,41.900000,masculine,Tatooine,Human
84,IG-88,200.0,140.0,308.0,none,red,15.000000,masculine,NaN,Droid
85,Grievous,216.0,159.0,349.8,none,"green, yellow",68.316667,masculine,Kalee,Kaleesh
86,Jabba Desilijic Tiure,175.0,1358.0,2987.6,NaN,orange,600.000000,masculine,Nal Hutta,Hutt

4.b) Eliminar los decimales de la columna 'birth_year' (investigar round() )

In [36]:
d_star_wars["birth_year"] = d_star_wars["birth_year"].round()

<ipython-input-36-77b84c861ea0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_star_wars["birth_year"] = d_star_wars["birth_year"].round()

4.c) Cambiar el tipo de datos de la columna 'birth_year' de float a integer

In [46]:
d_star_wars.birth_year = d_star_wars["birth_year"].astype("int")

<ipython-input-46-9f142a714123>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_star_wars.birth_year = d_star_wars["birth_year"].astype("int")

,name,height,mass_kg,mass_lb,hair_color,eye_color,birth_year,gender,homeworld,species
2,Wicket Systri Warrick,88.0,20.0,44.0,brown,brown,8,masculine,Endor,Ewok
3,R2-D2,96.0,32.0,70.4,NaN,red,33,masculine,Naboo,Droid
4,R5-D4,97.0,32.0,70.4,NaN,red,68,masculine,Tatooine,Droid
5,Sebulba,112.0,40.0,88.0,none,orange,68,masculine,Malastare,Dug
6,Padmé Amidala,165.0,45.0,99.0,brown,brown,46,feminine,Naboo,Human
...,...,...,...,...,...,...,...,...,...,...
82,Tarfful,234.0,136.0,299.2,brown,blue,68,masculine,Kashyyyk,Wookiee
83,Darth Vader,202.0,136.0,299.2,none,yellow,42,masculine,Tatooine,Human
84,IG-88,200.0,140.0,308.0,none,red,15,masculine,NaN,Droid
85,Grievous,216.0,159.0,349.8,none,"green, yellow",68,masculine,Kalee,Kaleesh
86,Jabba Desilijic Tiure,175.0,1358.0,2987.6,NaN,orange,600,masculine,Nal Hutta,Hutt

4.d) Cambiar el tipo de datos de la columna 'birth_year' de integer a string

In [56]:
d_star_wars["birth_year"] = d_star_wars["birth_year"].astype(str)

<ipython-input-56-e18677a50d9e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_star_wars["birth_year"] = d_star_wars["birth_year"].astype(str)

4.e) Crear una funcion llamada for_sample.
      La misma debe, mediante un for, hacer prints en pantalla con el siguiente formato:
  `R2-D2 nacido/a en el año 33 en el planeta Naboo`
R2-D2(name), 33(birth_year), Naboo(homeworld)

      Parametros: 
      *   df: dataframe 
      *   iteraciones: cantidad de registros a mostrar en el print (elegir un numero aleatorio)

In [100]:
import random
def for_sample(df, iteraciones = random.randint(0, len(d_star_wars))):
  for i in range(0, iteraciones):
    print(str(df.iloc[i,0]) + " nacido/a en el año " + str(df.iloc[i,6]) + " en el planeta " + str(df.iloc[i,-2]))

for_sample(d_star_wars)

Wicket Systri Warrick nacido/a en el año 8 en el planeta Endor
R2-D2 nacido/a en el año 33 en el planeta Naboo
R5-D4 nacido/a en el año 68 en el planeta Tatooine
Sebulba nacido/a en el año 68 en el planeta Malastare
Padmé Amidala nacido/a en el año 46 en el planeta Naboo
Dud Bolt nacido/a en el año 68 en el planeta Vulpter
Sly Moore nacido/a en el año 68 en el planeta Umbara
Wat Tambor nacido/a en el año 68 en el planeta Skako
Leia Organa nacido/a en el año 19 en el planeta Alderaan
Barriss Offee nacido/a en el año 40 en el planeta Mirial
Adi Gallia nacido/a en el año 68 en el planeta Coruscant
Zam Wesell nacido/a en el año 68 en el planeta Zolan
Ayla Secura nacido/a en el año 48 en el planeta Ryloth
Luminara Unduli nacido/a en el año 58 en el planeta Mirial
Shaak Ti nacido/a en el año 68 en el planeta Shili
Ben Quadinaros nacido/a en el año 68 en el planeta Tund
Jar Jar Binks nacido/a en el año 52 en el planeta Naboo
Nien Nunb nacido/a en el año 68 en el planeta Sullust
Greedo nacido/a en el año 44 en el planeta Rodia
C-3PO nacido/a en el año 112 en el planeta Tatooine
Palpatine nacido/a en el año 82 en el planeta Naboo
Beru Whitesun lars nacido/a en el año 47 en el planeta Tatooine
Luke Skywalker nacido/a en el año 19 en el planeta Tatooine
Obi-Wan Kenobi nacido/a en el año 57 en el planeta Stewjon
Wedge Antilles nacido/a en el año 21 en el planeta Corellia
Boba Fett nacido/a en el año 32 en el planeta Kamino
Jocasta Nu nacido/a en el año 68 en el planeta Coruscant
Rey nacido/a en el año 68 en el planeta nan
Saesee Tiin nacido/a en el año 68 en el planeta Iktotch
Yarael Poof nacido/a en el año 68 en el planeta Quermia
Mas Amedda nacido/a en el año 68 en el planeta Champala
Cordé nacido/a en el año 68 en el planeta Naboo
Cliegg Lars nacido/a en el año 82 en el planeta Tatooine
R4-P17 nacido/a en el año 68 en el planeta nan
Finn nacido/a en el año 68 en el planeta nan
Bail Prestor Organa nacido/a en el año 67 en el planeta Alderaan
BB8 nacido/a en el año 68 en el planeta nan
Raymus Antilles nacido/a en el año 68 en el planeta Alderaan
Poe Dameron nacido/a en el año 68 en el planeta nan
Taun We nacido/a en el año 68 en el planeta Kamino
San Hill nacido/a en el año 68 en el planeta Muunilinst
Dormé nacido/a en el año 68 en el planeta Naboo
Jango Fett nacido/a en el año 66 en el planeta Concord Dawn
Eeth Koth nacido/a en el año 68 en el planeta Iridonia
Ric Olié nacido/a en el año 68 en el planeta Naboo
Finis Valorum nacido/a en el año 91 en el planeta Coruscant
Rugor Nass nacido/a en el año 68 en el planeta Naboo
Mon Mothma nacido/a en el año 48 en el planeta Chandrila
Watto nacido/a en el año 68 en el planeta Toydaria
Wilhuff Tarkin nacido/a en el año 64 en el planeta Eriadu
Gasgano nacido/a en el año 68 en el planeta Troiken
Quarsh Panaka nacido/a en el año 62 en el planeta Naboo
Lando Calrissian nacido/a en el año 31 en el planeta Socorro
Shmi Skywalker nacido/a en el año 72 en el planeta Tatooine
Bib Fortuna nacido/a en el año 68 en el planeta Ryloth
Captain Phasma nacido/a en el año 68 en el planeta nan
Arvel Crynyd nacido/a en el año 68 en el planeta nan
Lobot nacido/a en el año 37 en el planeta Bespin
Darth Maul nacido/a en el año 54 en el planeta Dathomir
Poggle the Lesser nacido/a en el año 68 en el planeta Geonosis
Tion Medon nacido/a en el año 68 en el planeta Utapau
Dooku nacido/a en el año 102 en el planeta Serenno
Plo Koon nacido/a en el año 22 en el planeta Dorin
Han Solo nacido/a en el año 29 en el planeta Corellia